.kojogra-vert {
  padding-bottom: 80px;

  &::after {
    background-image: url("../images/stool-2.jpg");
    width: 353px;
    height: 644px;
    bottom: 0;
    right: 6px;
    transform: translate(30%, 50%);
    z-index: -1;
  }

  &__product-cards {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
  }

  &__product {
    &-card {
      width: 30%;
      color: color(black);
      padding-bottom: 40px;
      background-color: #fff;
      text-align: center;
    }

    &-title {
      word-break: break-word;
      line-height: 1;
      margin: 30px;
      margin-bottom: 20px;
    }

    &-desc {
      margin: 0 30px 35px;
      font-size: 20px;
    }

    &-button {
      word-break: break-word;
      color: #fff;
      padding: 17px 77.15px;
      font-size: 26px;
    }
  }

  @include breakpoint(xlarge) {
    &::after {
      width: 272px;
      height: 496px;
    }

    &__product {
      &-card {
        width: 31%;
      }

      &-desc {
        font-size: 18px;
      }

      &-button {
        font-size: 22px;
        padding: 17px 70px;
      }
    }
  }

  @include breakpoint(large) {
    &__product {
      &-card {
        width: 32%;
      }

      &-desc {
        font-size: 18px;
      }

      &-button {
        font-size: 22px;
        padding: 17px 70px;
      }
    }
  }

  @include breakpoint(medium) {
    &__product {
      &-cards {
        flex-flow: column;
        align-items: center;
      }

      &-card {
        width: 60%;
        max-width: 350px;
        padding-bottom: 0;
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &-info {
        padding-bottom: 20px;
      }

      &-desc {
        font-size: 18px;
      }

      &-button {
        font-size: 22px;
        padding: 17px 70px;
      }
    }
  }

  @include breakpoint(medium) {
    &__product {
      &-card {
        width: 100%;
      }
    }
  }
}
