.ol-na {
  padding-bottom: 60px;
  font-size: 16px;
  z-index: 1;

  &__container {
    align-items: center;
  }

  &__heading {
    margin-top: 14px;
    margin-bottom: 78px;
  }

  &__reviews {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__review {
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 25%;
    padding: 0 30px;
    margin-bottom: 60px;

    &-picture {
      background-color: color(light-gray);
      border-radius: 50%;
      width: 140px;
      height: 140px;
      margin-bottom: 16px;
    }

    &-title {
      line-height: 1.2;
      font-size: 20px;
      margin: 0;
      margin-bottom: 12px;
    }

    &-desc {
      width: 100%;
    }
  }

  &__sequi-est {
    font-size: 20px;
    margin-top: 40px;
    width: 50%;
    align-self: flex-end;
    margin-right: 14px;

    &-title {
      margin-bottom: 33px;
    }
  }

  @include breakpoint(large) {
    &__review {
      width: 33%;
    }
  }

  @include breakpoint(medium) {
    padding-bottom: 220px;

    &__review {
      width: 50%;
      margin-bottom: 40px;
    }

    &__sequi-est {
      width: 100%;
      margin-right: 0;
      margin-top: 0;
    }
  }

  @include breakpoint(small) {
    padding-bottom: 160px;

    &__review {
      width: 100%;
    }
  }
}
