.page-footer {
  padding: 60px 0;
  font-size: 20px;
  color: #fff;
  background-color: color(gray);

  &__lists {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    &-item {
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    text-decoration: underline;
  }

  @include breakpoint(xlarge) {
    padding: 50px 0;
  }

  @include breakpoint(large) {
    &__lists {
      width: 100%;
    }
  }

  @include breakpoint(medium) {
    &__lists {
      flex-flow: column;
      text-align: center;
    }

    &__list {
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }

      &-item {
        margin-bottom: 15px;
      }
    }
  }

  @include breakpoint(small) {
    font-size: 16px;
  }
}
